<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/product/add/6711ed403af896a7d20458e8" method="post">
        <input type="text" name="name">
        <input type="text" name="size">
        <input type="number" name="count">
        <input type="submit" >
    </form>
    <!-- <form action="/product/add/6711ea903af896a7d2045855">

    </form> -->
</body>
</html>