<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/u/reject/66feb4e4190ebd0b189be365" method="post">
        <!-- <input type="text" name="token"> -->
        <input type="submit" value="submit">
    </form>
</body>
</html>